.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    position: fixed; 
    left: 5%; 
    background-color: white; 
    z-index: 30;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;  
    position:absolute;
}

.modalSm{
  width: 90%;
  top: 20vh;
}
.modalLg{
  top: 2vh;
  width: 90%;
}
.closeIcon{ 
  font-size: 40px;
  color:#00bcd4; 
  cursor: pointer; 
  transition: transform 0.1s;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: -10px;
}

.closeIcon:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.3); 
} 

.modalCard{
  padding: 18px;
}

.footer{  
  background-color: rgba(128, 122, 122,0.1);
  width: 100%;
  margin: 0;
  padding: 0;
  height: 70px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
 
}

@media (min-width: 768px) {
    .modalSm {
      width: 40rem;
      left: calc(50% - 20rem);  
    }
    .modalLg{
      width: 90%;
      left: calc(50% - 45%); 
    } 
    /* .closeIcon{
      left: 94%;
    } */
  }

  @keyframes slide-down {
    from{
      opacity: 0;
      transform: translateY(-3rem);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }