
.mainPage{
    background-color: #1d1d1f;
    height: 100vh; 
}
.main-conatent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.image_Pastil{
    margin-top:40px;   
    z-index: 2;
    position: absolute;
    top:210px; 
}
.image_Pastil>img{
    width: 400px;
}
.titles{ 
    position: absolute;
    text-align: center;
    z-index: 1;
    top:55px;  
}
.title1, .title2, .title3{
    color: #eee;
    margin: 0;
    padding: 0;
}

.title1{
    font-size: 3vmin;
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #eee; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: 'Cookie', cursive;
}

.title1 span { 
    background:#1d1d1f; 
    padding:0 25px; 
}
.title2{
    font-size: 8vmin; 
    letter-spacing: 2vmin;
}
.title3{
    margin-left: 2vmin;
    font-size: 10vmin;
    font-weight: 700;
    letter-spacing: 5vmin; 
    
}

.card{
    position: absolute;
    top:520px; 
    z-index: 3;
    background-color: #eee;
    max-width: 600px; 
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(153, 149, 149, 0.25); 
    max-height: 250px;
}
.line-header{
    background-color: #00bcd4;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
    height: 1vmin;
}
.card-content{
    text-align: center;
}
h2{
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}

.description{
    text-align: center;
    padding: 0 3vmin;
}

 
footer{
    position: fixed;
    left: 0;
    bottom: 0; 
}
.images-set>img{ 
    width: 100vw; 
    opacity: 0.1;
    height: 300px;
}