
.mainPage{
    background-color: #1d1d1f;
    height: 100vh; 
}
.container{
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.image_Pastil{ 
    z-index: 2;
    position: absolute;
    top:210px; 
}
.image_Pastil>img{
    width: 400px;
}
.titles{ 
    position: absolute;
    text-align: center;
    z-index: 1;
    top:55px;  
}
.title1, .title2, .title3{
    color: #eee;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.title1{
    font-size: 3vmin;
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #eee; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: 'Cookie', cursive;
}

.title1 span { 
    background:#1d1d1f; 
    padding:0 25px; 
}
.title2{
    font-size: 8vmin; 
    letter-spacing: 2vmin;
}
.title3{
    margin-left: 2vmin;
    font-size: 10vmin;
    font-weight: 700;
    letter-spacing: 5vmin; 
    
}

.card{
    position: absolute;
    top:450px; 
    z-index: 3;
    background-color: #eee;
    max-width: 700px;  
    box-shadow: 0 3px 8px rgba(153, 149, 149, 0.25); 
    height: auto;
}
.line-header{
    background-color: #00bcd4; 
    height: 1vmin;
}
.card-content{
    text-align: center;
}
h2{
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}

.card-content>h2:nth-child(1){
    margin-top: 25px;
}

.description{
    text-align: justify;
    padding: 2.5vmin 7vmin;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

 
footer{
    position: fixed;
    left: 0;
    bottom: 0; 
}
.images-set>img{ 
    width: 100vw; 
    opacity: 0.1;
    height: 300px;
} 

.card-images{  
    margin-top: 25px;
    display: flex;
    position: relative;   
}
 

.pastil{  
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: block; 
    height: auto; 
    border: 5px solid white;
    box-sizing: border-box; 
    opacity: 0.5;
    
}

 
 
.icon-content>img{ 
    object-fit: contain;
    height: 5vmin;
    width: 5vmin;
}

.secondPage{
    background-color: #eee;
    height: 100vh;
}
 
 
@media screen and (max-width: 792px) {
    .card-images {
        display: flex;
        flex-direction: column;
        margin: 5vmin;
    }
    .card{
        margin: 4vmin; 
    }
    .mainPage{ 
        background-color: #1d1d1f;
        overflow: scroll;
        width: 100%;
    }
    .secondPage{  
        width: 100%;
    }
    footer{
        display: none;
    }
  }